

.slick{ 
    width: 55rem;
    position: relative; 
    border-radius:30px;
   
 
}

.slick-next {
    right: 5rem;
    top:11rem;
    /* visibility: hidden; */
}

.slick-next:before {
    color:rgb(70, 26, 26);
    font-size:30px !important;
}

.slick-prev {
    left:1rem;
    z-index: 1;
    top: 11rem;
    /* visibility: hidden; */
}
.slick-prev:before {
    color:rgb(70, 26, 26);
    font-size:30px !important;

}

.slick a{
    padding:10rem;
}

.slick img 
{
    max-width:200px;
    border-radius: 30px;
    box-shadow: var(--box-shadow-img);
   opacity: 0.85;
}


/* Media Queries */

/* When the width is between 768px and 900px */

@media only  screen and (max-width: 900px) and (min-width: 768px) {
    .slick{ 
        width: 30rem;
        position: relative;
        top:1rem;
    
    }

.slick img 
{
    max-width:100px;
   
}


.slick-next {
   
    visibility: hidden;
  }
  
  .slick-prev {
     visibility: hidden;
  }
    
  }

  @media only screen and (max-width: 768px) {
    .slick{ 
        width: 25rem;
        position: relative;
        top:1rem;
    
    }

.slick img 
{
    max-width:80px;
   
}
.slick-next {
   
    visibility: hidden;
  }
  
  .slick-prev {
     visibility: hidden;
  }
    
  }
  @media only screen and (max-width: 600px) {
    .slick{ 
        width: 20rem;
        position: relative;
        top:1rem;
    
    }

.slick img 
{
    max-width:80px;
   
}
    
  }
