
  /* Media Queries */
  @media only screen and (max-width: 900px) 
  { 
    .buttons button:first-of-type{
  
      margin:20px 5px;
      cursor: pointer;
   
    }
    .buttons button:last-of-type{
  
      margin:1px 0;
      cursor: pointer;
   
    }
  }
  
  @media only screen and (max-width: 600px) {
      .cards{
          grid-template-columns: repeat(1,213px);
      }
  
    }
  